.rounded{
    display: block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    img{
        max-width: 100%;
        margin: 0 auto;
    }
    .overlay{
        position: absolute;
        bottom: 0;
        z-index: 10;
        color: $white;
        width: 100%;
        padding: 12px 19px;
        background: $baseColor;
        &-80{
            @extend .overlay;
            background: $baseColor80;
        }

        .title__date{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 11px;
            h3{
                font-weight: 700;
                font-size: 19px;
                line-height: 22px;
                color: $akcentColor;
            }
        }

    }
    
}